
.normal {
  background: #28343d;
  color: #fff;
}

.photo {
  text-align: center;
  padding: 26px;
}

.photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.menu {
  font-size: 14px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 3px;
  display: flex;
  cursor: pointer;
}

.menu li i {
  width: 20px;
  margin-right: 6px;
  text-align: center;
}

.menu li span {
  flex: 1;
}

.menu li span b {
  padding: 3px 7px;
  font-weight: bold;
  font-size:
}
